<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="quartz-llf" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource"><ref bean="dataSource" /></property>
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
        <property name="configLocation" value="classpath:config/properties/quartz.properties" />
        <property name="triggers">
            <list>
                <ref bean="trigger-llf-ten-second" />
            </list>
        </property>
    </bean>

    <bean id="jobDetail-llf" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass"><value>localtest.service.schedule.QuartzJobBeanTest</value>
        </property>
        <property name="durability" value="true" />
        <property name="requestsRecovery" value="true" />
    </bean>
    <bean id="trigger-llf-ten-second" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail-llf" />
        <property name="cronExpression" value="0/10 * * * * ?" />
    </bean>
</beans>